html {
    display: table;
    margin: auto;
}

body {
  width: 1220px;
  font-family : 'Ubuntu', sans-serif;
  margin: 0 0 0 0 ;
  vertical-align: middle;
}
#header-img{
  background-image: url("../assets/pl-hero.png");
  background-size: 1220px 350px;
  background-repeat: no-repeat;
}

#holder-img {
  height: 350px;
  width:280px;
  padding: 50px 0 0 20px; 
 
}

.header-nav {
  overflow: hidden;
  
}

.header-nav a {
  float: left;
  color: #949ea0;
  text-align: center;
  margin-top: 33px;
  margin-right: 61px;
  margin-bottom: 33px;
  text-decoration: none;
  line-height: 14px;
  
}

.header-nav a:hover {
  background-color: #ffe5d3;
  color: #949ea0;
}

.header-nav a.active {
  background-color: #ffcfad;
  color: #949ea0;
}

.header-nav a.name {
  margin-right: 20px;
}

.header-right {
  float: right;
}

.header-nav img.logo {
  width: 151px;
  height: 27px;
  margin: 28px 0px 25px 20px;
}

.header-nav img.profile {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
}

